body{
    margin-top:20px;
    left: 5%;
    color: #fdfdfd;
    text-align: left;
    padding: 15px;
    background-color: #222;
}

.card-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    color:#fdfdfd;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    background-clip: border-box;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}
.card-2 {
    left: 25%;
    position: absolute;
    width: 800px;
    padding: 40px;
    column-count: 2;
    color-interpolation-filters: linearRGB;
    min-width: 0;
    color:#fdfdfd;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    background-clip: border-box;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
    min-height: 1px;
    padding: 1rem;
}
.color-1{
    color: aquamarine;
    padding: 40px;
}
.color-2{
    color: white;
    padding: 40px;
}
.msg {
    color: #3d3d3d;
    font-size: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}