.box {
    position: absolute;
    left: 50%;
    width: 600px;
    padding: 40px;
    background: rgba(0, 0, 0, .6);
    box-sizing: border-box;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.box#signup {
    margin: 5px;
    transform: translateX(-50%);
}

.box h2 {
    margin: 20px;
    padding: 0;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
    transition: 0.5s;
}